<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head" />
<body>
	<table class="table table-striped">
		<thead>
			<tr>
				<th style="width: 150px;">Title</th>
				<th style="width: 200px;">Description</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="todo : ${todos}">
				<td th:text="${todo.title}"></td>
				<td th:text="${todo.description}"></td>
				<td><a href="/todo/list" th:href="@{|/todo/item/${todo.id}|}">View</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>