<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css" th:href="@{webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
	<script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/js/bootstrap.min.js" th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
	<!-- <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js" th:src="@{webjars/jquery/jquery.min.js}"></script> -->
</head>
<body>
</body>
</html>